
body {
  background: url(../images/background.jpg);
  font-family: 'Open Sans', Helvetica, sans-serif;
  height: 100%;
  background-size: 100%;
  color: #333;
}


  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

.logo {
  background: url(../images/logoPenseGrandeComecePequeno.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 500px;
  height: 160px;
  margin: 25px auto 0 auto;
}

.conteudo {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

p {
  font-size: 20px;
  color: #fdd000;
  margin: 75px 0;
  span {
    color: #FFF;
  }
}

input[type="text"] {
  width: 450px;
  height: 50px;
  font-size: 18px; 
  padding: 0 0 0 15px;
  border: none;
  vertical-align: top;
}

input[type="submit"] {
  cursor:pointer;
  background-color: #fdd000;
  vertical-align: top;
  font-size: 18px;
  border: none;
  height: 50px; 
  width: 90px;
}