
body {
  background: url(../images/background.jpg);
  font-family: 'Open Sans', Helvetica, sans-serif;
  height: 100%;
  background-size: 100%;
  color: #333;
}


  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }

.logo {
  background: url(../images/logoPenseGrandeComecePequeno.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 250px;
  margin: 0 auto;
}
.conteudo {
  font-size: 26px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  color: white;
}